 {% block menu %}
    <a href="{{ path('category',{'category':'concentrate-bubblers'}) }}" class="list-group-item">Bubblers</a>
    <a href="{{ path('category',{'category':'accesories'}) }}" class="list-group-item">Accessories</a> 
    <a href="{{ path('category',{'category':'water-pipes'}) }}" class="list-group-item">Waterpipes</a> 
    <a href="{{ path('category',{'category':'non-functional'}) }}" class="list-group-item">Non-Functional</a> 
{% endblock %}