 {% block menu %}
    <a href="{{ path('admin_categories') }}" class="list-group-item">Categories</a> 
    <a href="{{ path('admin_users') }}" class="list-group-item">Users</a>
    <a href="{{ path('admin_posts') }}" class="list-group-item">Posts</a> 
    <a href="{{ path('admin_artists') }}" class="list-group-item">Artists</a> 
{% endblock %}

{% block footer %}

{% endblock %}